<ion-header>
  <ion-toolbar class="navbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color = "light">Home</ion-title>
  </ion-toolbar>
</ion-header>    
  

<ion-content class="body-background">
  
        <!-- Add an Event-->  
   <ion-card class = "formcard"> 
     <ion-card-content>
       
      
     </ion-card-content>
     </ion-card> 
  <ion-button href = '/tracker'>

      Button to newsfdeed

  </ion-button>
     
</ion-content>